.container{
    display: flex;
    gap: 100px;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title{
    font-size: 54px;
    font-weight: bold;

}

.subtitle{
    color: var(--btn);
}

.desc{
    font-size: 14px;
    font-weight: 300;

}


.imageContainer{
    flex: 1;
    position: relative;
}



.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box h1{
    color:  var(--btn);
}


.image{
    object-fit: contain;
}